@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans&display=swap');
body{
    font-family: 'Open sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* HEADER */

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    position: sticky;
    top: 0;
    font-family: anton;
    font-weight: lighter;
}

#tricherie{
    color: #fff;
  font-size: xx-small;
    
}

nav .onglets{
    display: flex;
    flex-wrap: wrap;
}

nav .onglets p{
    font-size: 17px;
    margin-right: 10px;
    cursor: pointer;
}

nav .onglets input{
    margin: 8px 20px;
    padding: 15px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #f2f2f2;
}

#logo{
    width: 300px;
}

/* MARQUES */

div.marque{
    padding: 18px;
    text-align: center;
}

.marques{
    display: none;
    transition: 1s;
    padding-left: 26px;
}

#check{ 
    margin: 0;
    height: 80px;
    width: 100px;
    position: absolute;
    opacity: 0;
    z-index: 6;
    cursor: pointer;
}
#check:checked~.marques{
    display: block;
}

#check:checked~.marque{
    color: red;
}

.marque{
    text-decoration: underline;
}

.link{
    color: black;
}

/* TITRES */

header h1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: anton;
    font-weight: lighter;
}

h2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: anton;
    font-weight: lighter;
    text-decoration-line: underline;
}

/* TOUTES LES CARTES DE CHAUSSURES */

.container1{
    margin: 50px 50px 50px 50px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
}



.card{
    padding-left: 100px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    font-family: anton;
}

.price{
    font-weight: lighter;
    font-size: xx-large;
}

.color{
    font-family: anton;
}

.colors{
    margin-bottom: 20px;
}

.select{
    margin-bottom: 20px;
}

#taille-select{
    margin-bottom: 20px;
}


/* MARQUES */

.brands{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* FOOTER */

footer{
    margin-top: 50px;
    padding: 30px;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .social{
    display: flex;
}

footer .social p{
    margin-right: 15px;
    border: 1px solid white;
    border-radius: 100%;
    padding: 5px;
    text-align: center;
    width: 20px;
    cursor: pointer;
}





select{
    display: inline-block;
    background-color: black;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-family: anton;
    font-weight: lighter;
    font-size: 15px;
    padding: 5px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.colors{
    display: inline-block;
    background-color: black;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-family: anton;
    font-weight: lighter;
    font-size: 15px;
    padding: 5px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}


button {
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    border: 4px double black;
    color: black;
    text-align: center;
    font-family: anton;
    font-weight: lighter;
    font-size: 15px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: 20px;
    transition: 0.5s;
}
 
button:hover span {
    padding-right: 25px;
}
button:hover span:after {
    opacity: 1;
    right: 0;
}

.container{
    margin-top: 15pc;
}

/* RESPONSIVE */

@media screen and (max-width: 640px){
    .sara, header h2{
        display: none;
    }
    .cards .card{
        margin-left: 10px;
    }
    .cards .card img{
        width: 300px;
    }
    .container1 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    .photos{
        display: flex;
        justify-content: center;
        align-items: center
    }
    
    .card{
        display: flex;
        justify-content: center;
        align-items: center;
    }    
}

